@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:  #3a0a5e;
}

p{  font-family: 'Lora';
    color: #fff;
    text-indent: 1em;
}

.Sobre{
display: table;
justify-content: center;
box-sizing: border-box;
padding-left: 0.5em;
padding-top: 2em;
padding-bottom: 3em;
}

.Sobre, img{
    width: 65%;
    height: 70%;
    float: left;
}
.titulo{font-family: 'Montserrat', sans-serif;
    display: table-cell;
    float: left;
    font-size: 70px;
    width: 70%;
    margin-left: 10em;
    margin-top: -5em;
}

 .paragrafo-a{
    font-size: 30px;
    display: table-cell;
    float: left;
    width: 70%;
    margin-left: 24em;
    margin-top: -8em ;
    text-align: justify;
}

#container-b{
    box-sizing: border-box;
    display: inline-block;
    padding-top: 2em;
    padding-left: 0.5em;
    padding-bottom: 6em;
    flex-direction: row;
    display: inline-flex;
    justify-content:space-around ;
}

.Valores, h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em;
    text-align: center;
}
.textoum{
    font-size: 20px;
    flex-direction: wrap;
    line-height: 1.5;
    gap: 5px;
    text-align: justify;
    margin-left: 1em;
}

.valores, img{
    width: 44%;
    height: 50%;

}   

.servicos, h2{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.textodois, p{
    font-size: 20px;
    flex-direction: wrap;
    line-height: 1.5;
    gap: 5px;
    text-align: justify;
    padding-left: 0.5em;
}

.servicos, img{
    width: 49%;
    height: 60%;
}
 .inframe{
    background-color: #dcdbdb;
    display: block;
    position: relative;
 }
 h3, footer{
    background-color: #dcdbdb;
 }

 h3{
    font-size: 25px;
    text-align: center;
    padding-top: 1em;
 }
 footer{
    text-align: center;
    padding-top: 4em;
 }




